/* #search {
    position: absolute;
} */

/* #search-bar {
    position: absolute;
} */

/* #search-results {
    position: absolute;
} */

#options {
    position: absolute;
}

/* #search-result-list-item {
    position: absolute;
} */

#search-bar {
    margin-bottom: 5px;
}